<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by yigitozgumus on 4/2/22, 11:44 AM
  ~ Copyright (c) 2022 . All rights reserved.
  ~ Last modified 4/2/22, 11:44 AM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yigitozgumus.base_feature">

</manifest>
